html, body {
	height: 100%;
	margin: 0;
}

.grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 5fr 3fr 5fr;
	grid-template-rows: 1fr 1fr 5fr 1fr 1fr 

}

.blue1 {
	background-color: rgb(14,116,188);
	grid-column:1;
	grid-row: 1;
}

.blue2 {
	background-color: rgb(14,116,188);
	grid-column:3;
	grid-row: 1;

}

.blue3 {
	background-color: rgb(14,116,188);
	grid-column:1;
	grid-row: 3;

}

.blue4 {
	background-color: rgb(14,116,188);
	grid-column:1;
	grid-row: 5;

}

.blue5 {
	background-color: rgb(14,116,188);
	grid-column:3;
	grid-row: 3;

}

.blue6 {
	background-color: rgb(14,116,188);
	grid-column:3;
	grid-row: 5;

}


.yellow1 {
	background-color: rgb(252,255,191) ;
	grid-area: 2/1/2/4 ;
}

.yellow2 {
	background-color: rgb(252,255,191);
	grid-area: 4/1/4/4
}

.orange1 {
	background-color: rgb(255,117,37);
	grid-area: 1/2/6/2
}

