html, body {
	height: 100%;
	margin: 0;
}

.grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 6fr 2fr 9fr;
	grid-template-rows: 6fr 2fr 6fr 

}

.red1 {
	background-color: rgb(236,29,37);
	grid-column:1;
	grid-row: 1;
}

.red2 {
	background-color: rgb(236,29,37);
	grid-column:3;
	grid-row: 1;

}

.red3 {
	background-color: rgb(236,29,37);
	grid-column:1;
	grid-row: 3;

}

.red4 {
	background-color: rgb(236,29,37);
	grid-column:3;
	grid-row: 3;

}

.white1 {
	background-color: rgb(255,255,255) ;
	grid-area: 1/2/4/3
}

.white2 {
	background-color: rgb(255,255,255);
	grid-area: 2/1/2/4
}

